:host {
  display: flex;
  justify-content: center;
}
.grid {
  display: grid;
  width: fit-content;
  grid-template-rows: repeat(auto,1fr);
  gap: var(--gap);

  &__row {
    display: grid;
    grid-template-columns: repeat(var(--grid), 1fr);
    gap: var(--gap);
  }

  &__item { 
    //border: 4px solid red;
    &:active {
      transform: translateY(.1rem);
    }
    &:focus {
      outline: none;
    }
  }
}

