
<article (click)="selectItem($event)" (keyup)="selectItem($event)" (keyup)="handleKeyFocus($event)" aria-role="grid" class="word-grid" aria-label="game board" [attr.data-grid]="gridSize">
<div class="word-grid__row" [style.--grid]="gridSize" aria-role="row" *ngFor="let row of gridData; let i = index" [attr.data-index]="i">
  <div class="word-grid__item tile" aria-role="gridcell" *ngFor="let letter of row; let j = index" [attr.aria-label]="letter" aria-selected="false" [attr.data-row]="i" [attr.data-index]="j" tabindex="0">
      <span class="letter">{{letter}}</span>
  </div>
</div>
</article>