.tile {
	cursor: pointer;
  position: relative;
  display: flex;
  padding: 1rem;
  font-size: 4rem;
  text-align: center;

  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: var(--border-radius); 
  box-shadow: var(--box-shadow);
  transition: 0.10s all;
   // for centering letter
  &:after {
    content: ' ';
    width: 1em;
    height: 1em;
  }
  &:before {
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-dark);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;
	}
	&:hover {
		&:before {
			opacity: 1;
		}
	}
	&:focus {
		outline: none;
		.letter {
			text-decoration: underline;
			text-underline-offset: .2rem;
		}
	}
  .letter {
    pointer-events: none;
    position: absolute;

    left: 0;
    width: 100%;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;

    opacity: 1;
    transition: .15s;
  }
}

.selected {
  box-shadow: var(--box-shadow-pressed);
  color: var(--color-primary);
}