
<header class="app-header">
  <div class="logo">
    <div class="grid__tile tile">
      <span class="letter grid__tile--content">w</span>
    </div>
    <div class="grid__tile tile">
      <span class="grid__tile--content">o</span>
    </div>
    <div class="grid__tile tile">
      <span class="letter grid__tile--content">r</span>
    </div>
    <div class="grid__tile tile">
      <span class="letter grid__tile--content">d</span>
    </div>
     <div class="grid__tile tile selected">
      <span class="letter grid__tile--content">g</span>
    </div>
    <div class="grid__tile tile selected">
      <span class="letter grid__tile--content">a</span>
    </div>
    <div class="grid__tile tile selected">
      <span class="letter grid__tile--content">m</span>
    </div>
    <div class="grid__tile tile selected">
      <span class="letter grid__tile--content">e</span>
    </div>
  </div>
</header>


<div class="content" role="main">
  <app-word-grid></app-word-grid>
</div>

<footer class="app-footer">
  <div class="grid__tile info">
      <span class="letter">?</span>
    </div>
</footer>

<router-outlet></router-outlet>