<header class="app-header">
  <div class="logo">
    <div class="logo__word">
      <div class="logo__tile"><span class="logo__letter">w</span></div>
      <div class="logo__tile"><span class="logo__letter">o</span></div>
      <div class="logo__tile"><span class="logo__letter">r</span></div>
      <div class="logo__tile"><span class="logo__letter">d</span></div>
    </div>
   
     <div class="logo__game">
      <div class="logo__tile"><span class="logo__letter--green">g</span></div>
      <div class="logo__tile"><span class="logo__letter--green">a</span></div>
      <div class="logo__tile"><span class="logo__letter--green">m</span></div>
      <div class="logo__tile"><span class="logo__letter--green">e</span></div>
    </div>
  </div>
</header>


<main class="app-main" role="main">
  <app-word-grid></app-word-grid>
</main>

<footer class="app-footer">
  <div class="info">
      <span class="info__btn">?</span>
  </div>
</footer>

<router-outlet></router-outlet>